In [30]:
import pandas as pd

In [31]:
url='https://artefacts.data.gov.in/economic-and-productive-aspects-of-the-prison-inmates/'
list_of_tables=pd.read_html(url,header=0)

df = list_of_tables[3]

def transform_common_column(tables):
    for df in tables:
        df.rename(columns={df.columns[0]: "State/UT"}, inplace=True)

transform_common_column(list_of_tables[:-1])

In [35]:
from functools import reduce

df_merged = reduce(
    lambda left, right: pd.merge(left, right, on="State/UT", how="inner"),
    list_of_tables[:-2]
)
df_merged.to_csv("cleaned_prison_inmate_data.csv",index=False, encoding="utf-8")

In [36]:
df_merged

,State/UT,Male,Female,Total,Graduate,Post-Graduate,Holding technical degree/diploma etc.,No. of Inmates benefitted by Elementary Education,No. of Inmates benefitted by Adult Education,No. of Inmates benefitted by Higher Education,No. of Inmates benefitted by Computer Course
0,Andhra Pradesh,13414,899,14313,646,204,205,9480,13758,672,170
1,Arunachal Pradesh,90,2,92,6,1,0,0,0,0,0
2,Assam,7957,306,8263,232,14,16,676,750,14,30
3,Bihar,30159,1100,31259,1432,222,103,1693,3013,125,1417
4,Chhatisgarh,15019,821,15840,531,244,84,1664,1803,192,103
5,Goa,495,28,523,27,7,15,7,0,6,88
6,Gujarat,11481,577,12058,659,181,143,2310,3133,875,966
7,Haryana,16814,830,17644,973,184,217,1131,774,1112,243
8,Himachal Pradesh,1903,96,1999,85,18,15,33,80,26,0
9,Jammu & Kashmir,2265,87,2352,98,19,3,102,124,33,34
10,Jharkhand,17370,850,18220,969,231,222,3008,2595,138,574
11,Karnataka,13534,584,14118,523,243,335,633,568,170,12
12,Kerala,7205,190,7395,102,27,102,156,96,24,250
13,Madhya Pradesh,33622,1086,34708,1232,402,142,1978,9574,301,151
14,Maharashtra,25841,1559,27400,1450,782,459,346,2743,882,1330
15,Manipur,625,35,660,23,7,2,0,0,0,0
16,Meghalaya,839,11,850,8,0,1,1,30,0,0
17,Mizoram,804,66,870,20,0,0,0,25,18,0
18,Nagaland,475,12,487,8,0,0,0,0,0,0
19,Orissa,13832,641,14473,613,160,25,622,613,277,384
20,Punjab,25985,1464,27449,3030,924,598,325,606,112,168
21,Rajasthan,18631,662,19293,1573,753,372,1050,237,64,38
22,Sikkim,222,8,230,6,0,0,0,0,0,0
23,Tamilnadu,14014,707,14721,883,307,483,68,1664,757,478
24,Tripura,876,25,901,21,2,2,15,13,4,2
25,Uttar Pradesh,80206,3312,83518,5440,1944,471,7876,8093,1353,212
26,Uttaranchal,3663,182,3845,192,24,15,205,42,29,72
27,West Bengal,21385,1393,22778,825,72,78,2023,1889,123,460
28,A & N Islands,1141,8,1149,14,5,11,167,45,11,0
29,Chandigarh,637,24,661,51,9,3,0,265,85,0
30,D & N Haveli,35,0,35,5,2,3,0,0,0,0
31,Daman & Diu,55,1,56,1,1,0,0,0,0,0
32,Delhi,12937,615,13552,702,184,124,1458,1187,908,174
33,Lakshadweep,0,0,0,0,0,0,0,0,0,0
34,Pondicherry,273,7,280,5,0,1,0,0,0,0
35,All India,393804,18188,411992,22385,7173,4250,37027,53720,8311,7356